# Shamelessly copypasted from E2E's config (at least for now)

# Folders to ignore
/minecraft/journeymap/
/minecraft/dumps/
/minecraft/crash-reports/
/minecraft/.mixin.out/
/minecraft/logs/
/minecraft/local/
/minecraft/libraries/
/minecraft/llibrary/
/minecraft/saves/
/minecraft/TombManyGraves/
/minecraft/screenshots/
/minecraft/world/

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json
modpack_upload_settings.cfg
ModpackUploadTool.bat

# Client Configs
/minecraft/config/InvTweaks.cfg
/minecraft/config/MouseTweaks.cfg
/minecraft/config/jei/worldSettings.cfg
/minecraft/config/jei/lookupHistory.zip
/minecraft/config/jei/bookmarks.ini
/minecraft/zs_export.json
/minecraft/.curseclient
/minecraft/.ReAuth.cfg
/minecraft/usernamecache.json
/minecraft/usercache.json
/minecraft/knownkeys.txt
/minecraft/servers.dat
/minecraft/realms_persistence.json
/minecraft/WailaErrorOutput.txt
/minecraft/ItemDump.txt
/minecraft/BotaniaVars.dat
/minecraftoptions.txt
README.md
/minecraftcrafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
twitch_export-win.exe
/minecraft/crafttweaker.log
config/BlockDrops/modVersions.txt
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourceProperty.txt
dropt.log
journeymapdefaults.firstrun
*.zip
astralsorcery/gatewayFilter/worldFilter.dat
OpenComputersMod-1.7.3.146-lua53-native.64.dll
OpenComputersMod-1.7.3.146-lua52-native.64.dll
ModpackFileId.json
LICENSE.md
manifest.json
/minecraft.config/AppliedEnergistics2/aerecipes/
/minecraft/config/AppliedEnergistics2/recipes/
valkyrielib/cache/supporters.json
/minecraft/discordsuite/win32-x86-64/discord-rpc.dll
/minecraft/discordsuite/version
ServerFileGenerator.bat
config/brandon3055/ResourceCache/
whitelist.json
ops.json
minecraft_server.1.12.2.jar
installer.log
/minecraft/forge-1.12.2-14.23.5.2781-universal.jar
forge-1.12.2-14.23.5.2781-installer.jar
eula.txt
banned-players.json
banned-ips.json
ChangelogGenerator.jar